
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
}
.modal-content {
    border: none !important;
    position: relative;
    width: 600px;
    min-height: 400px;
    margin: auto;
}

.modal-footer {
    border-top: none;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
}

.modal-header {
    border-radius: 6px 6px 0px 0px;
}

.modal-body {
    font-size: 13px;
}

.form-horizontal.style-form .form-group {
    border-bottom: none;
}

.form-panel {
    background: #ffffff;
    margin: 10px;
    padding: 10px;
    box-shadow: none;
    text-align: left;
}

#newEmployeeError {
    color: rgb(219, 0, 0);
    display: inline;
    position: relative;
    right: 45%;
}