body {
  margin:0px;
  background-color: rgb(45, 108, 160);

}
h1, h2, h3, h4, h5, h6, a {
  margin:0; padding:0;
}
.login {
  
  margin: 5% auto 10% auto;
  min-width: 20%;
  width: fit-content;
 height: fit-content;
  

  
}
.login-header {
  color:#fff;
  text-align:center;
  font-size:120%;
  font-family: Arial, Helvetica, sans-serif;
  
}

.login-form {
  border:.5px solid #fff;
  background:#41052a;
  border-radius:10px;
  box-shadow:0px 0px 10px #000;

}
.login-form h3 {
  text-align:left;
  color:#fff;
}
.login-form {
  box-sizing:border-box;
  border: 0px;
  text-align:center;
  margin-right: 10%;
  margin-left: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.logo{
 width: fit-content;
 height: fit-content;
 max-width: 200px;
 max-height: 200px;
 margin-top: 30px;
 margin-bottom: 10px;
}

.login input[type="text"],
.login input[type="password"] {
	width: 80%;
  line-height:3em;
  font-family: FontAwesome, Helvetica;
  margin:1em;
  text-decoration: none;
  background: rgba(255,255,255,0.5);
  line-height:3em;
  border: 0px rgb(255, 255, 255);
  border-style: none none solid none;
  border-radius: 10px;
  min-width: 10%;
  outline: none;
 
}



.login input[type="text"]:focus,
.login input[type="password"]:focus {
  box-shadow: 1px 5px 5px 0px rgba(32, 236, 134, 0.75);
  -webkit-box-shadow: 1px 5px 5px 0px rgba(32, 236, 134, 0.75);
  
}
.login-button {
  background-color: #9b2b75; 
  font-family: FontAwesome,Arial, Helvetica, sans-serif;
  border: none;
  color: white;
  padding: 3% 10% 3% 10%;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin-top: 15px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 20px;
  max-width: fit-content;
  max-height: fit-content;
  box-shadow: 0px;
}


.login-button:hover {
  background-color: #4ab84c; 
  color: white;
}
::-webkit-input-placeholder { 
    font-size: 14px; 
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
   }
   input{
     text-align: center;
     color: #ffffff;
     font-weight: bold;
     caret-color:rgba(255, 255, 255, 0);
     font-size: 90%;
   }
 .footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-bottom: 2%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
   
 }
 