body {
    background: url("../img/background.png") no-repeat;
    margin: 0;
    padding: 0;
    font-family: Verdana;
}

a {
    color: black;
    text-decoration: none;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

#header {
    clear: both;
    display: inline-block;
vertical-align: middle;
    width: 100%;
    font-size: 20px;
}
#header > a{
    height: 80px;
}


    .logo {
        position: relative;
        left: 0px;
        max-height: 80px;
       
    }
        
    .logout {
        position: absolute;
        
        right: 0px;
        min-height: 80px;
    }

    .logo_img{
        width:258px;
        height: 80px;
    }
    
    .logout_img{
        width: 80px;
        height: 80px;
    }


#content {
    width: 100%;
    clear: both;
}

.content_link {
    display: block;
    width: 100%;
    min-height: 232px;
    text-decoration: none;
    line-height: 232px;
}

#left-bar {
 
    min-width: 14%;
    min-height: 500px;
    display: block;
}

#main-content {
  
    min-width: 81%;
    display: block;
}

.first_container {
    text-align: center;

    background-color: white;
    min-width: 16.875%;
    min-height: 200px;
    margin: 15% auto 15% auto;
    border-radius: 15px;
    line-height: 200px;
}

.container {
    text-align: center;
   
    background-color: white;
    min-width: 16.875%;
    min-height: 200px;
    margin: 15% auto 15% auto;
    border-radius: 15px;
    line-height: 200px;
}

.surfaceContainer {
    position: relative;
    margin: 5% auto 5% auto;
    min-width: 20%;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    
   
}

#right-bar {
    float: left;
    min-width: 5%;
    min-height: 500px;
    display: block;
}

#footer {
    width: 100%;
    min-height: 80px;
    position: absolute;
    bottom: 0px;
    background-color: white;
}

.footer_cell {
    width: 25%;
    min-height: 80px;
    float: left;
    text-align: center;
    line-height: 80px;
}

.footer_link {
    display: block;
    width: 100%;
    min-height: 80px;
    text-decoration: none;
    line-height: 80px;
}

#content{
    position: relative;
    margin: 30% auto 30% auto;
    height: fit-content;
    width: 30%;
   
}
ul{
    margin: 10% ;
    padding: 2%;
    position: fit-content;
    list-style: none;
}
li{
    
    position: relative;
    margin:2% 1% 2% 1%;
    padding-top: .5em;
    padding-bottom: .5em;
    border: .5px solid black;
    border-radius: 10px;
}